
<footer class="page-footer dark">
	<div class="container">
		<div class="row">
			<div class="col-sm-3">
				<h5>Get started</h5>
				<ul>
					<li><a href="{{ site.base_uri }}">Home</a></li>

					{% if user %}
						<li><a href="{{ site.base_uri }}auth/logout">Logout</a></li>
					{% else %}
						<li><a href="{{ site.base_uri }}login">Login</a></li>
					{% endif %}
				</ul>
			</div>
			<div class="col-sm-3">
				<h5>About me</h5>
				<ul>
					<li><a href="https://blog.thestaticturtle.fr">My blog</a></li>
					<li><a href="mailto:contact@thestaticturtle.fr">Contact me</a></li>
				</ul>
			</div>
			<div class="col-sm-3">
				<h5>Support</h5>
				<ul>
					<li><a href="{{ site.base_uri }}faq">FAQ</a></li>
					<li><a href="https://github.com/TheStaticTurtle/ToneGuessr">Source code</a></li>
				</ul>
			</div>
			<div class="col-sm-3">
				<h5>Legal</h5>
				<ul>
					<li><a href="{{ site.base_uri }}faq/tos">Terms of Service / Use</a></li>
					<li><a href="{{ site.base_uri }}faq/privacy">Privacy Policy</a></li>
				</ul>
			</div>
		</div>
	</div>
	<div class="footer-copyright">
		<p>TheStaticTurtle - GPL3</p>
	</div>
</footer>